html{
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url(../images/lone-starfish-wide.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
}
footer{
    text-align: right;
}
 div{
    border-style:solid;
}